<mat-toolbar>Notes App

  <div class="example-button-row">
    <span matTooltip="Add notes" mat-icon-button (click)="addNote()">
      <mat-icon>note_add</mat-icon>
    </span>
    <span matTooltip="Save notes" mat-icon-button color="accent" (click)="saveNotes()">
      <mat-icon>save</mat-icon>
    </span>
    <span matTooltip="Delete Note" mat-icon-button color="primary" (click)="deleteNote()">
      <mat-icon>delete</mat-icon>
    </span>
  </div>

  <!--<mat-form-field class="example-full-width">-->
    <!--<input matInput placeholder="Search" type="search" [(ngModel)]="searchText" (ngModelChange)="searchNotes($event)">-->
  <!--</mat-form-field>-->

  <div class="search-container">
    <input class="search-box" type="text" [(ngModel)]="searchText" (ngModelChange)="searchNotes($event)">
    <mat-icon>search</mat-icon>
  </div>



</mat-toolbar>
<mat-sidenav-container style="height: 100%" class="example-container">
  <mat-sidenav mode="side" opened position="start">
    <app-sidenav [notes]="notes" (selectedNote)="editNote($event)"></app-sidenav>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-editor [note]="selectedNote"></app-editor>
  </mat-sidenav-content>
</mat-sidenav-container>

