<mat-toolbar>Notes App
  <button mat-button (click)="addNote()">Add</button>
  <button mat-button (click)="saveNotes()">Save</button>
  <button mat-button (click)="deleteNote()">Delete</button>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Search" type="search" [(ngModel)]="searchText" (ngModelChange)="searchNotes($event)">
  </mat-form-field>
</mat-toolbar>
<mat-sidenav-container style="height: 100%" class="example-container">
  <mat-sidenav mode="side" opened position="end">
    <app-sidenav [notes]="notes" (selectedNote)="editNote($event)"></app-sidenav>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-editor [note]="selectedNote"></app-editor>
  </mat-sidenav-content>
</mat-sidenav-container>

